* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 100px;
  background: #A12518;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 100px;
}  

.product {
  width: 370px;
  height: 150px;
  background: #D34735;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10px 15px;
  margin-bottom: 10px;
}

.product img {
  width: 200px;
  position: absolute;
  left: 8px;
  top: 9px
}

.edit-delete-button button {
  background: #3AD886;
  border: none;
  border-radius: 5px;
  width: 50px;
  padding: 10px;
}

.button_d {
  margin-right: 30px;
}

.button_c {
  margin-right: 135px;
}

.form {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background: #3AD886;
  border-radius: 5px;
  padding: 10px;
}

.form img {
  width: 250px;
  padding-left: 30px
}

.form input {
  width: 280px;
}


.form button {
  background: #D34735;
  border: none;
  border-radius: 5px;
  width: 70px;
  padding: 10px; 
}

.main_body {
  margin: 20px 50px;
  width: 80%;
  display: flex;
  justify-content: space-around;
}
